<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

    <link rel="stylesheet" href="../templates/index.css">

    <!-- Menu icon link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- End of Menu icon link -->

</head>
<body style="background-color: hsl(210, 36%, 96%);">

<section class="products" id="product">
    <div class="products-header">
        <div>
            <h1>Products</h1>
        </div>
    </div>
    <div class="products-body">
        <div class="btn-container">
            <!--             <button type="button" class="product-btn" data-id="all">all</button>-->
        </div>

        <div class="products-section">
            <!--            <div th:each="prod: ${prods}" class="products-section-body">-->
            <!--                <img src="./images/item-1.jpeg" alt="item" class="photo">-->
            <!--                <div class="products-section-details">-->
            <!--                    <header>-->
            <!--                        <h4 th:text="${prod.name}">Price:</h4>-->
            <!--                        <h4 th:text="${prod.category}" class="price"></h4>-->
            <!--                    </header>-->
            <!--                    <p th:text="${prod.description}"> </p>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div class="back-to-left-top">
            <div class="inner-to-left">
                <a href="../static/index.html"><i class="fas fa-angle-double-left"></i></a>
            </div>
            <div class="inner-to-top">
                <a href="#product"><i class="fas fa-angle-double-up"></i></a>
            </div>
        </div>

    </div>
</section>

<script type="module" src="../javascript/product.js"></script>


</body>
</html>